@keyframes fadeInAnimation {
    from {opacity: 0;}
    to {opacity: 100;}
}

body {
    display: flex;
    flex-direction: column;
    color: white;
    font-family: 'Alata', sans-serif;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
    background-color: rgb(0, 103, 151);
}

.content {
    padding-left: 1%;
    padding-right: 1%;
    width: 96%;
    font-size: 18px;
}

.personal_information {
    display: inline;
    background-color: rgb(150, 185, 226);
}

.personal_information iframe {
    width: 100%;
    height: 300px;
    border-radius: 6px 6px 6px 6px;
}

.showButton {
    width: 100%;
}

.showButton button {
    width: 100%;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}

.work_experience {
    display: none;
    background-color: rgb(107, 162, 224);
}

.education {
    display: none;
    background-color: rgb(150, 185, 226);
}

.skills {
    display: none;
    background-color: rgb(107, 162, 224);
}


@media (orientation: portrait) {
    .showButton button {
        height: 120px;
        font-size: 34px;
    }

    .content {
        font-size: 24px;
    }
}
