@keyframes fadeInAnimation {
    from {opacity: 0;}
    to {opacity: 100;}
}

@keyframes expandAnimation {
    from {height: 40px;}
    to {height: auto;}
}

body {
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    color: white;
    font-family: 'Alata', sans-serif;
    font-size: 18px;
}

.personal_information {
    overflow: hidden;
    flex: 1;
    background-color: rgb(150, 185, 226);
}

.work_experience {
    flex: 2;
    background-color: rgb(107, 162, 224);
}

.education {
    flex: 3;
    background-color: rgb(150, 185, 226);
}

.skills {
    flex: 5;
    background-color: rgb(107, 162, 224);
}